extends layout

block content
  if !data
    p No stores saved
  else
    table.table
      thead  
          tr
              th StoreNumber
              th StoreName
      tbody
          each val in data
              tr
                  td= val.StoreNumber
                  td= val.StoreName

